In [139]:
from datetime import datetime

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb
import yfinance as yf

In [140]:
# Events DF schema show be in the format of [date, name, value, sentiment]

In [141]:
stock = "AAPL"

In [142]:
end = datetime.now()
start = datetime(end.year - 10, end.month, end.day)

In [143]:
stock = yf.Ticker(stock)

In [144]:
stock.dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2023-05-12 00:00:00-04:00    0.240000
2023-08-11 00:00:00-04:00    0.240000
2023-11-10 00:00:00-05:00    0.240000
2024-02-09 00:00:00-05:00    0.240000
2024-05-10 00:00:00-04:00    0.250000
Name: Dividends, Length: 83, dtype: float64

In [145]:
# df = stock.history(start=start, end=end)
# df

In [146]:
# Turn stock.dividends into a DataFrame
df = stock.dividends.reset_index()
df["name"] = "dividends"
df["sentiment"] = 1
df = df.rename(columns={"Date": "date", "Dividends": "value"})
df["date"] = df["date"].dt.tz_localize(None)

In [147]:
df

         date     value       name  sentiment
0  1987-05-11  0.000536  dividends          1
1  1987-08-10  0.000536  dividends          1
2  1987-11-17  0.000714  dividends          1
3  1988-02-12  0.000714  dividends          1
4  1988-05-16  0.000714  dividends          1
..        ...       ...        ...        ...
78 2023-05-12  0.240000  dividends          1
79 2023-08-11  0.240000  dividends          1
80 2023-11-10  0.240000  dividends          1
81 2024-02-09  0.240000  dividends          1
82 2024-05-10  0.250000  dividends          1

[83 rows x 4 columns]

In [148]:
df.to_parquet("../data/dividends.parquet")
del df

In [149]:
# Turn stock.splits into a DataFrame
df = stock.splits.reset_index()
df["name"] = "splits"
df["sentiment"] = 1
df = df.rename(columns={"Date": "date", "Stock Splits": "value"})
df["date"] = df["date"].dt.tz_localize(None)

In [150]:
df

        date  value    name  sentiment
0 1987-06-16    2.0  splits          1
1 2000-06-21    2.0  splits          1
2 2005-02-28    2.0  splits          1
3 2014-06-09    7.0  splits          1
4 2020-08-31    4.0  splits          1

In [151]:
df.to_parquet("../data/splits.parquet")
del df