In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
# EXAMPLE of the schema of the events.parquet file
events_df = pd.DataFrame(data= {'name': ["SPLIT", "ALLTIMEHIGH"], 
                                'date': ["2024-07-17", "2024-07-24"], 
                                'value' : [23.41, 55.5],
                                'sentiment': [100, 50]})

In [23]:
events_df

          name        date  value  sentiment
0        SPLIT  2024-07-17  23.41        100
1  ALLTIMEHIGH  2024-07-24  55.50         50

In [24]:
events_df.to_parquet("..\data\events.parquet")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jacob\AppData\Local\Temp\ipykernel_18420\2972150021.py:1: SyntaxWarning: invalid escape sequence '\d'
  events_df.to_parquet("..\data\events.parquet")